.proyecto {
  width: 30%;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.proyecto:hover .proyecto-texto {
  transform: translateX(0%);
}

.proyecto-imagen {
  width: 100%;
}

.proyecto-texto {
  background: yellow;
  padding: 10px;
  position: absolute;
  bottom: 0;
  transform: translateX(100%);
  transition: all .5s;
  font-size: 20px;
  font-weight: bold;
  font-family: sans-serif;
}
