!!!5
%html
	%head
		%meta(chasrset="utf-8")
		%title SASS avanzado
		%link(href="css/main.css" rel="stylesheet" type="text/css")
	%body
		.proyecto
			%img(src="img/penguins.jpg" title="proyecto" alt="proyecto" class="proyecto-imagen")
			.proyecto-texto
				%p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				